.pular-conteudo,
.pular-conteudo:active,
.pular-conteudo:focus,
.pular-conteudo:hover
 {
  position: absolute;
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.wrapper-header  {
  height: 30vh;
  padding: 20px;
  background: #EC7000;
  color: #fff;
  box-shadow: 0 2px 5px -2px grey;
}

ul{
  list-style: none;
}

.menu-header li  {
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin-left: -24px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.acessar-conta {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:start;
  top: 5px;
  background-color: #EC7000;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  }



@media screen and (min-width: 600px) {
  .wrapper-header {
      height: 15vh;
  }

  .menu-header li {
      list-style: none;
      display: inline;
      position: relative;
      margin: 10px;
      top: 30px;
      font-size: 18px;
  }

  .acessar-conta {
    display: flex;
    flex-direction:row;
    justify-content:start;
    top: 5px;
    background-color: transparent;
    border: 0;
    color: #333;

    }

}


